@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: #202020;
  color: white;
}

form{
  display: grid;
  width: 20rem;
  row-gap: 0.5rem;
}